$color-body-bg: #fff;
$color-primary-bg: #eaeffd;
$color-secondary: #7a7a7b;
$color-secondary-bg: #f5f5f7;
$color-navbar-bg: hsla(0, 0%, 100%, 0.86);
$color-primary-bg-for-transparent: rgba(189, 207, 255, 0.28);
$color-secondary-bg-for-transparent: rgba(209, 209, 214, 0.28);
$html-overflow-y: overlay;

$border-color: #f0f0f0;
$theme-color: #335eea;

$font-color-light: #f1f1f1;
$font-color-deep: #18191c;
$font-color-desc: #2e3030;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 28px;

$border-color-desc: rgba(228, 228, 228, 0.1);
$background-color: #f2f3f4;
$background-color-shadow: rgba(0, 0, 0, 0.3);
$highlight-background-color: #fff;

$theme-color-shadow: "rgba(212, 68, 57, .5)";

@mixin flexContainer($jc) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: $jc;
}

@mixin fontStyle($size, $color, $bold: normal) {
  font-size: $size;
  color: $color;
  font-weight: $bold;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin bgFull {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin ellipsis($num) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@mixin fontNormal($fw) {
  font-weight: $fw;
  color: $font-color-deep;
}

@mixin extendClick {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }
}

:root {
  --color-body-bg: #ffffff;
  --color-text: #000;
  --color-primary: #335eea;
  --color-primary-bg: #eaeffd;
  --color-secondary: #7a7a7b;
  --color-secondary-bg: #f5f5f7;
  --color-navbar-bg: rgba(255, 255, 255, 0.86);
  --color-primary-bg-for-transparent: rgba(189, 207, 255, 0.28);
  --color-secondary-bg-for-transparent: rgba(209, 209, 214, 0.28);
  --html-overflow-y: overlay;
}
