.Button {
  > button {
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-s;
    line-height: $font-size-s;
    font-weight: 600;
    background-color: var(--color-primary-bg);
    color: var(--color-primary);
    transition: 0.2s;
    user-select: none;

    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.96);
    }
  }

  .grey {
    background-color: var(--color-secondary-bg);
    color: var(--color-text);
    opacity: 0.78;
  }

  .transparent {
    background-color: transparent;
  }
}
