.index {
  > section {
    > .index_title {
      padding: 28px 0 0 4px;
      height: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h1 {
        @include fontStyle(28px, $font-color-deep, 700);
      }
    }
  }
}
