.box-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px;

  .box-item {
    .text {
      margin-top: 4px;

      .title {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        @include ellipsis(2);
      }

      .info {
        font-size: 12px;
        opacity: 0.65;
        line-height: 18px;
        @include ellipsis(1);
      }
    }
  }
}
